<a href="https://colab.research.google.com/github/Dhrubaraj-Roy/Python-for-Machine-Learning/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
type(s1)

pandas.core.series.Series

In [6]:
s1=pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])

In [7]:
s1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [8]:
pd.Series({'k1':10, 'K2':20, 'k3':30})

k1    10
K2    20
k3    30
dtype: int64

In [10]:
pd.Series({'k1':10, 'K2':20, 'k3':30}, index={'k3', 'k1', 'k2', 'k4'})

k1    10.0
k2     NaN
k4     NaN
k3    30.0
dtype: float64

In [12]:
s2=pd.Series([1,2,3,4,5,6,7,8,9])
s2[3]

4

In [13]:
s2[:4]

0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s2[-3:]

6    7
7    8
8    9
dtype: int64

In [25]:
s2 = s2+10

In [16]:
s3=([2,2,2,2,2,2,2,2,2])

In [23]:
pd.Series(s3)

0    2
1    2
2    2
3    2
4    2
5    2
6    2
7    2
8    2
dtype: int64

In [26]:
s2+s3

0    13
1    14
2    15
3    16
4    17
5    18
6    19
7    20
8    21
dtype: int64

In [27]:
#working with 2d or DataFrame

In [29]:
pd.DataFrame({'Name':['Dhruba', 'Tatha', 'Sayan'], 'Marks':[100,99,99]})

     Name  Marks
0  Dhruba    100
1   Tatha     99
2   Sayan     99

In [35]:
iris=pd.read_csv('iris.csv')

In [37]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [38]:
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [39]:
iris.shape

(150, 5)

In [43]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [44]:
iris.iloc[0:3,0:2]

   sepal.length  sepal.width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

In [47]:
iris.loc[0:3,('sepal.length', 'petal.length')]

   sepal.length  petal.length
0           5.1           1.4
1           4.9           1.4
2           4.7           1.3
3           4.6           1.5

In [48]:
iris.drop('petal.length', axis=1)

     sepal.length  sepal.width  petal.width    variety
0             5.1          3.5          0.2     Setosa
1             4.9          3.0          0.2     Setosa
2             4.7          3.2          0.2     Setosa
3             4.6          3.1          0.2     Setosa
4             5.0          3.6          0.2     Setosa
..            ...          ...          ...        ...
145           6.7          3.0          2.3  Virginica
146           6.3          2.5          1.9  Virginica
147           6.5          3.0          2.0  Virginica
148           6.2          3.4          2.3  Virginica
149           5.9          3.0          1.8  Virginica

[150 rows x 4 columns]

In [49]:
iris.drop([1,2,3], axis=0)

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[147 rows x 5 columns]

In [50]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [51]:
iris.max()

sepal.length          7.9
sepal.width           4.4
petal.length          6.9
petal.width           2.5
variety         Virginica
dtype: object

In [52]:
iris.min()

sepal.length       4.3
sepal.width        2.0
petal.length       1.0
petal.width        0.1
variety         Setosa
dtype: object

In [54]:
iris.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

sepal.length    5.80
sepal.width     3.00
petal.length    4.35
petal.width     1.30
dtype: float64

In [55]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [56]:
def half(s):
  return s*0.5

In [61]:
iris[['sepal.length','sepal.width']].apply(half)

     sepal.length  sepal.width
0            2.55         1.75
1            2.45         1.50
2            2.35         1.60
3            2.30         1.55
4            2.50         1.80
..            ...          ...
145          3.35         1.50
146          3.15         1.25
147          3.25         1.50
148          3.10         1.70
149          2.95         1.50

[150 rows x 2 columns]

In [62]:
iris['variety'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [63]:
iris.sort_values(by='sepal.length')

     sepal.length  sepal.width  petal.length  petal.width    variety
13            4.3          3.0           1.1          0.1     Setosa
42            4.4          3.2           1.3          0.2     Setosa
38            4.4          3.0           1.3          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
41            4.5          2.3           1.3          0.3     Setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  Virginica
118           7.7          2.6           6.9          2.3  Virginica
117           7.7          3.8           6.7          2.2  Virginica
135           7.7          3.0           6.1          2.3  Virginica
131           7.9          3.8           6.4          2.0  Virginica

[150 rows x 5 columns]